body {
  background: #0d1117;
  color: white;
  font-family: Arial;
}

textarea {
  width: 100%;
  height: 120px;
}

button {
  margin: 5px;
  padding: 10px;
  background: #00c3ff;
  border: none;
  color: white;
}

button:hover {
  background: #0099cc;
}

.deploy-buttons button {
  background: #222;
}

.mainDeploy {
  background: green;
}

#statusBox div {
  font-weight: bold;
}

#dropZone {
  border: 2px dashed #00c3ff;
  padding: 20px;
  margin: 10px 0;
}
